/*
Namn: Dean nijenhuis
Klass: Te23D
*/
body{
    background-image: url("./img/360_F_296055218_RXc721N9fSYIz3sEV7QALYquMVP31jdJ.jpg");
}

#rubrik 
{
    color: rgba(0, 8, 255, 0.595);
    text-align:center;
    border: 6px dotted green;
    width: 50%;
}